<div [ngClass]="{'flex-row-reverse': reversed}"
     class="flex flex-wrap align-items-center text-center text-shadow mx-5 my-7">
  <div class="flex flex-column align-items-center w-12 md:w-6">
    <h1 class="uppercase font-normal text-3xl">{{ header }}</h1>
    <p [innerHTML]="body" class="line-height-4 text-xl w-12 md:w-6"></p>
    <ng-content select="[pageTemplate=right]"/>
  </div>
  <div class="w-12 md:w-6">
    @if (image) {
      <p-image [alt]="header" [src]="image" class="vmk-image" imageClass="shadow-4"/>
    }
    <ng-content select="[pageTemplate=left]"/>
  </div>
</div>
