@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vmk-image {
  img {
    width: 85%;
    height: 85%;
    border-radius: 1rem;
  }
}

hr {
  margin: 4rem 0 4rem 0;
  border: 1px solid lightgray;
  position: relative;
  width: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap
}

header {
  //box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, .5);
}
