@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "normalize.css/normalize.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
  margin: 0;
  height: 100dvh;
  overflow-x: hidden;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: color-mix(in srgb, #18181b, transparent 33%);
  background-blend-mode: multiply;

  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

* {
  outline: none !important;
}

strong {
  text-decoration: underline;
}

h1 {
  margin: 2rem 0 2rem 0;
}

h2 {
  margin: .75rem 0 .75rem 0;
}

p {
  margin: 0 0 2rem 0;
}

div[pagetemplate="right"] {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  div[pagetemplate="right"] {
    margin-bottom: 0;
  }
}

.vmk-image {
  img {
    width: 85%;
    height: 85%;
    border-radius: 1rem;
  }
}

.scroll-x {
  overflow-x: scroll;
  white-space: nowrap
}

.text-shadow {
  text-shadow: 4px 4px 5px black;
}

.checklist-item {
  display: flex;
  margin-bottom: .75rem;
  gap: .75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

p-accordion-panel:last-child {
  border: none;

  .p-accordioncontent-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
