<app-page [data]="ADVICE"/>

<div id="aboutUs">
  <app-page [data]="ABOUT" [reversed]="true"/>

  <app-page [data]="NUMBERS">
    <div class="flex flex-wrap" pageTemplate="extra">
      @for (card of NUMBERS.cards; track $index) {
        <app-card class="col-6" [data]="card"/>
      }
    </div>
  </app-page>
</div>

<app-page [data]="SOLUTIONS" [reversed]="true">
  <div class="flex flex-wrap justify-content-around" pageTemplate="main">
    @for (card of SOLUTIONS.cards; track $index) {
      <app-card class="col-12 md:col-6" [data]="card"/>
    }
  </div>
</app-page>

<app-page [data]="BENEFITS">
  <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
    @for (card of BENEFITS.cards; track $index) {
      <app-card class="w-full" [data]="card"/>
    }
  </div>
</app-page>

<div class="mx-5">
  <p-accordion class="overflow-auto" value="0">
    @for (topic of BENEFITS.topics; track $index) {
      <p-accordion-panel value="{{$index}}">
        <p-accordion-header>{{ topic.title }}</p-accordion-header>
        <p-accordion-content>{{ topic.description }}</p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>

<div id="services">
  <app-page [data]="SERVICES" [reversed]="true">
    <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
      @for (card of SERVICES.cards; track $index) {
        <app-card class="w-full" [data]="card"/>
      }
    </div>
  </app-page>
</div>

<app-page [data]="FEATURES">
  <div class="bg-primary-reverse border-round-xl shadow-4 col-12 md:col-8 p-4 scroll-x sm:overflow-hidden"
       pageTemplate="main">
    @for (topic of FEATURES.topics; track topic.title) {
      <div class="checklist-item">
        <i class="pi pi-check-square text-xl"></i>
        <span>{{ topic.description }}</span>
      </div>
    }
  </div>
</app-page>

<app-page [data]="SEGMENTS" [reversed]="true">
  <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
    @for (card of SEGMENTS.cards; track $index) {
      <app-card class="w-full" [data]="card"/>
    }
  </div>
</app-page>

<app-page [data]="IRON">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="IRON.listImage!" [items]="IRON.listItems!"/>
  </div>
</app-page>

<app-page [data]="FIXATION"
          [reversed]="true">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="FIXATION.listImage!" [items]="FIXATION.listItems!"/>
  </div>
</app-page>

<app-page [data]="WELDING">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="WELDING.listImage!" [items]="WELDING.listItems!"/>
  </div>
</app-page>

<app-page
  [data]="{'body': 'Gerenciamento completo de processos, de ponta a ponta.', 'header': 'Etapas do Projeto', 'image': 'projeto-etapas.png'}"
  [reversed]="true"/>

<app-project-steps [data]="PROJECT_STEPS"/>

<app-page [data]="PROJECT">
  <div class="flex flex-wrap justify-content-around" pageTemplate="main">
    @for (card of PROJECT.cards; track $index) {
      <app-card class="col-12 md:col-6" [data]="card"/>
    }
  </div>
</app-page>

<div id="contact">
  <app-page [data]="{'body': 'Fale conosco.', 'header': 'Obrigado!', 'image': 'contato.png'}" [reversed]="true">
    <div pageTemplate="main">
      <app-links/>
      <div class="mt-2">
        <strong>Endereço:</strong>
        <div class="mt-1">{{ ADDRESS_PARTS[0] + ',' + ADDRESS_PARTS[1] + ',' }}</div>
        <div>{{ ADDRESS_PARTS[2] + ',' + ADDRESS_PARTS[3] }}</div>
      </div>
    </div>
  </app-page>
</div>
