<app-page [data]="DATA.PAGE_1"/>

<div id="aboutUs">
  <app-page [data]="DATA.PAGE_2" [reversed]="true"/>

  <app-page [data]="DATA.PAGE_3">
    <div class="flex flex-wrap" pageTemplate="extra">
      @for (card of DATA.PAGE_3.cards; track $index) {
        <app-card class="col-6" [data]="card"/>
      }
    </div>
  </app-page>
</div>

<app-page [data]="DATA.PAGE_4" [reversed]="true">
  <div class="flex flex-wrap justify-content-around" pageTemplate="main">
    @for (card of DATA.PAGE_4.cards; track $index) {
      <app-card class="col-12 md:col-6" [data]="card"/>
    }
  </div>
</app-page>

<app-page [data]="DATA.PAGE_5">
  <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
    @for (card of DATA.PAGE_5.cards; track $index) {
      <app-card class="w-full" [data]="card"/>
    }
  </div>
</app-page>

<div class="mx-5">
  <p-accordion class="overflow-auto" value="0">
    @for (topic of DATA.PAGE_5.topics; track $index) {
      <p-accordion-panel value="{{$index}}">
        <p-accordion-header>{{ topic.title }}</p-accordion-header>
        <p-accordion-content>{{ topic.description }}</p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>

<div id="services">
  <app-page [data]="DATA.PAGE_6" [reversed]="true">
    <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
      @for (card of DATA.PAGE_6.cards; track $index) {
        <app-card class="w-full" [data]="card"/>
      }
    </div>
  </app-page>
</div>

<app-page [data]="DATA.PAGE_7">
  <div class="bg-primary-reverse border-round-xl shadow-4 col-12 md:col-8 p-4 scroll-x sm:overflow-hidden"
       pageTemplate="main">
    @for (topic of DATA.PAGE_7.topics; track topic.title) {
      <div class="checklist-item">
        <i class="pi pi-check-square text-xl"></i>
        <span>{{ topic.description }}</span>
      </div>
    }
  </div>
</app-page>

<app-page [data]="DATA.PAGE_8" [reversed]="true">
  <div class="flex justify-content-around col-12 md:col-6" pageTemplate="main">
    @for (card of DATA.PAGE_8.cards; track $index) {
      <app-card class="w-full" [data]="card"/>
    }
  </div>
</app-page>

<app-page [data]="DATA.PAGE_9">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="DATA.PAGE_9.listImage!" [items]="DATA.PAGE_9.listItems!"/>
  </div>
</app-page>

<app-page [data]="DATA.PAGE_10"
          [reversed]="true">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="DATA.PAGE_10.listImage!" [items]="DATA.PAGE_10.listItems!"/>
  </div>
</app-page>

<app-page [data]="DATA.PAGE_11">
  <div class="col-12 md:col-10" pageTemplate="main">
    <app-list [image]="DATA.PAGE_11.listImage!" [items]="DATA.PAGE_11.listItems!"/>
  </div>
</app-page>

<app-page [data]="DATA.PAGE_12" [reversed]="true"/>

<app-project-steps [data]="DATA.STEPS"/>

<app-page [data]="DATA.PAGE_13">
  <div class="flex flex-wrap justify-content-around" pageTemplate="main">
    @for (card of DATA.PAGE_13.cards; track $index) {
      <app-card class="col-12 md:col-6" [data]="card"/>
    }
  </div>
</app-page>

<div id="contact">
  <app-page [data]="DATA.PAGE_14" [reversed]="true">
    <div pageTemplate="main">
      <app-links/>
      <div class="mt-2">
        <strong>Endereço:</strong>
        <div class="mt-1">{{ ADDRESS[0] + ',' + ADDRESS[1] + ',' }}</div>
        <div>{{ ADDRESS[2] + ',' + ADDRESS[3] }}</div>
      </div>
    </div>
  </app-page>
</div>
